<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>calculateur des emprunts</title>
</head>
<body>
    <main>
        <header>
            <a href="/" class="logo">calculateur des emprunts</a>
            <nav class="navigation">
                <a href="/anncte">calc. annuités cte</a>
                <a href="/amorcte">calc. amortissement cte</a>
                <a href="/credits">a propos</a>
            
            </nav>    
        </header>
        <section class="mainmenu">
            <h1 class="creditstitle">projet de fin d'annee realise par </h1>
            <section class="banner">
                <div class="titletext2">
                    <h2><span>Aymane El Marhouch</span></h2>
                    <h3></h3>
                </div>
                <div class="titletext2">
                    <h2><span>Aimane Frandile</span></h2>
                    <h3></h3>
                    
                </div>
            </section>
            <div class="line">
            </div>
        </section>
    </main>
</body>
</html