<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>calculateur des emprunts</title>
</head>
<body>
    <main>
        <header>
            <a href="/" class="logo">calculateur des emprunts</a>
            <nav class="navigation">
                <a href="/anncte">calc. annuités cte</a>
                <a href="/amorcte">calc. amortissement cte</a>
                <a href="/credits">a propos</a>
            
            </nav>    
        </header>
        <section class="mainmenu">
            <section class="banner">
                <div class="titletext">
                    <h2>merci d'utiliser notre<br><span>Calculateur des emprunts</span></h2>
                    <h3>veuillez choisir le type du crédit à calculer</h3>
                    <div class="buttons">
                        <a href="/anncte" class="main_button">annuités cte</a>
                        <a href="/amorcte" class="main_button">amortissement cte</a>
                    </div>
                </div>
                <div class="picture">
                    <img src="../static/styles/images/4x/Asset4.png">
                </div> 
            </section>
            <div class="line">
            </div>
        </section>
    </main>
</body>
</html>